# Directorios de entornos virtuales de Python
venv/
.venv/

# Archivos de caché
__pycache__/
*.pyc

# Archivos de configuración y secretos (¡CRUCIAL para seguridad!)
# Nunca subas variables de entorno con tokens o contraseñas.
.env

# Archivos de sesión de Pyrogram
# Estos son generados localmente y no deben subirse.
*.session
*.session-journal

# Logs y otros datos temporales
downloads/
logs/
